@import url("reset.css");

ul li {
    color: red;
}

li~li {
    color: green;
}

ul>li>ul>li {
    color: blue;
}

ul>li>ul>li+li {
    color: rgb(255, 136, 0);
}

ul>li>ul>li>ol>li {
    color: #4597f7;
}

ul>li>ul>li>ol>li+li {
    color: #5d5d5d;
}

ul>li>ul>li>span {
    color: #a0f0fc;
}
