@import url("reset.css");


body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    background-color: rgb(179, 213, 249);

}

.header__title-container {
    margin: 0 auto;
    font-weight: 700;
    font-size: 48px;
    color: rgb(34, 106, 207);
    text-shadow: 5px 5px 5px #5b67a2;
    padding: 50px 50px;
    text-align: center;
}

.lesson__container {
    max-width: 1040px;
    margin: 0 auto;
    font-size: 18px;
}

.lesson__border {
    margin-bottom: 40px;
}

.lesson__border-item {
    display: inline-block;
    max-width: 30%;
    padding: 10px;
    margin: 0px 10px;
    vertical-align: top;
    border: 25px solid rgb(179, 213, 112);
    outline: 3px solid rgb(110, 183, 104);
}

.lesson__border-radius {
    margin-bottom: 70px;
}

.border-radius__block {
    font-size: 20px;
    padding: 30px 40px;
}

.border-radius__block .card {
    display: inline-block;
    width: 20%;
    margin: 0px 15px;
    height: 200px;
    color: azure;
}

.border-radius__item-text {
    text-align: center;
    padding-top: 80px;
}

.border-radius__first-item {
    border-radius: 0% 100% 0% 100% / 44% 51% 49% 56%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.border-radius__second-item {
    border-radius: 50% 50% 0% 100% / 44% 47% 53% 56%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 113, 121, 0.9752275910364145) 27%, rgba(0, 212, 255, 1) 80%);
    box-shadow: -21px 22px 24px 1px rgba(10, 76, 158, 0.84);
    -webkit-box-shadow: -21px 22px 24px 1px rgba(10, 76, 158, 0.84);
    -moz-box-shadow: -21px 22px 24px 1px rgba(10, 76, 158, 0.84);
}

.border-radius__third-item {
    border-radius: 50% 50% 100% 0% / 46% 47% 53% 54%;
    box-shadow: 13px 11px 24px 1px rgba(10, 76, 158, 0.84);
    -webkit-box-shadow: 13px 11px 24px 1px rgba(10, 76, 158, 0.84);
    -moz-box-shadow: 13px 11px 24px 1px rgba(10, 76, 158, 0.84);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 23%, rgba(60, 192, 177, 1) 30%, rgba(201, 188, 80, 1) 68%, rgba(253, 187, 45, 1) 80%, rgba(253, 187, 45, 1) 104%);
}

.border-radius__forth-item {
    border-radius: 100% 0% 100% 0% / 47% 42% 58% 53%;
    background: linear-gradient(0deg, rgba(201, 188, 80, 1) 20%, rgba(215, 205, 139, 1) 31%, rgba(253, 187, 45, 1) 80%, rgba(253, 187, 45, 1) 104%);
}

.lesson__opacity-visibility {
    margin-bottom: 80px;
}

.opacity-visibility__block .card {
    display: inline-block;
    width: 25%;
    min-height: 200px;
    padding: 40px 40px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(190, 149, 179, 0.9752275910364145) 75%);
    text-align: center;
    border-radius: 10%;
    margin: 30px;
    vertical-align: top;
}

.opacity-visibility__first {
    opacity: 0.25;
}

.opacity-visibility__second {
    opacity: 0.6;
}

.opacity-visibility__third {
    opacity: 0.8;
}

.lesson__list {
    margin-bottom: 50px;
    padding: 10px 40px;
}

.list__block {
    background-color: #405da7ac;
    border-radius: 8px;
    padding: 15px;
}

.list__title {
    font-size: 30px;
    font-weight: 700;
    color: #3b467b;
    margin-bottom: 15px;
}

.list__list li {
    padding-left: 35px;
    margin-bottom: 10px;
    background: url("../img/icon_done.svg") 0 0 / 25px no-repeat;
    min-height: 25px;
    vertical-align: middle;
    color: rgb(238, 44, 173);
}

.lesson__pictures {
    margin-bottom: 70px;
}

.pictures__block {
    padding: 50px 20px;
}

.pictures__block .item {
    display: inline-block;
    width: 28%;
    margin: 0px 20px;
    color: azure;
    font-size: 26px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #202f78;
}

.picture-first {
    background: url("../img/pic_1.jpg") 0 0 / 200px fixed;
    min-height: 200px;
}

.picture-second {
    background: url("../img/pic_2.jpg") 0 0 / 200px scroll;
    min-height: 200px;
}

.picture-third {
    background: url("../img/icon_coffee.png") repeat 0 0 / 60px;
    min-height: 200px;
}

.eco-bazar__container {
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}

.eco-bazar__description-block {
    max-width: 648px;
    margin: 0 auto;
    padding: 70px 0px;
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
}

.eco-bazar__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.96px;
    background: url("../img/icon_logo.svg") 0 0 / 38px no-repeat;
    min-height: 38px;
    padding-left: 48px;
    color: #002603;
    margin-bottom: 50px;
}

.eco-bazar__description-text,
.eco-bazar__list-items {
    margin-bottom: 20px;
}

.eco-bazar__list-items li {
    background: url("../img/icon_check.png") 0 0 / 20px no-repeat;
    min-height: 20px;
    padding-left: 28px;
    margin-bottom: 14px;

}

.hydra__container {
    background-color: #302C42;
    padding: 90px 0px;
    color: #FFF;
}

.hydra__contacts {
    max-width: 1272px;
    margin: 0 auto 90px;
}

.contacts__block {
    border-radius: 90px;
    background: radial-gradient(50% 53.89%, rgba(58, 52, 86, 0.949) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    height: 167px;
    font-size: 0;
    padding: 26px 80px 24.5px 0px;
}

.contacts__wrapper {
    width: 33.33%;
    display: inline-block;
    padding-left: 30px;
}

.contacts__sign {
    font-size: 24px;
    font-weight: 700;
    padding: 27px 0px 10px 0px;
}

.contacts__text {
    font-size: 14px;
    font-weight: 400;
}

.card-contacts {
    height: 116.5px;
    border-right: 1px solid rgba(192, 183, 232, 0.33);
}

.contacts__card-first {
    background: url("../img/location_icon.svg") center left / 59px no-repeat;
    padding: 10px 5px 10px 55px;
}

.contacts__card-second {
    background: url("../img/phone-call.svg") center left / 59px no-repeat;
    padding: 10px 66px 10px 88px;
}

.contacts__card-third {
    background: url("../img/mail.svg") center left / 59px no-repeat;
    border-right: 0px;
    padding: 10px 0px 10px 88px;
}

.hydra__about {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 84px;
    font-size: 0px;
    background: url("../img/vector_1.svg") 0 5px no-repeat, url("../img/vector_2.svg") 0 300px no-repeat;
    height: 600px;
}

.about__image-block,
.about__text-block {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.about__image-block {
    padding-right: 54px;
    max-width: 546px;
}

.about__text-block {
    padding: 58px 0px 5px 54px;
}

.about__image-block img {
    border-radius: 240px 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.about__sign,
.about__under-sign {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}


.about__sign {
    padding-bottom: 5px;
}


.about__under-sign {
    font-weight: 300;
    padding-bottom: 42px;
    color: rgba(255, 255, 255, 0.95);
}

.about__text {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 28px;
    line-height: 1.5;
}

.about__button {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    max-width: 214px;
    height: 48px;
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 47px 16px 39px;
    cursor: pointer;
}

.footer {
    padding: 30px 0px;
    font-size: 24px;
    text-align: center;
}
