@font-face {
    font-family: "KoPub Batang";
    src: url(../fonts/KoPubBatang-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KoPub Batang";
    src: url(../fonts/KoPubBatang-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KoPub Batang";
    src: url(../fonts/KoPubBatang-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Grenze Gotisch";
    src: url(../fonts/GrenzeGotisch-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Segoe Script";
    src: url(../fonts/Segoe-Script.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
