@import url("reset.css");

@import url("fonts.css");

@import url(https://fonts.googleapis.com/css?family=Bad+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=Zen+Dots:regular);



body {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #1f372c;
    text-align: justify;
}


.header__header-main {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    color: rgb(89, 186, 215);
    text-shadow: 5px 5px 5px rgb(15, 117, 117);
}

.sign-under {
    font-family: "KoPub Batang", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(255, 0, 183);
    text-align: center;
    text-transform: uppercase;
    text-decoration: rgb(128, 4, 0) dotted underline;
}

.first-part__list {
    font-family: "Caveat", cursive;
    font-size: 28px;
    color: rgba(178, 73, 216, 0.853);
    text-align: center;
    text-decoration: rgb(185, 226, 109) wavy underline;

}

.first-part__list>ul>li>ul>li {
    font-family: "Bad Script", cursive;
    font-size: 20px;
    color: rgba(105, 170, 117, 0.688);
    text-decoration: rgb(226, 148, 109) dotted underline
}


.second-part__text-box,
.forth-part__text-box,
.sixth-part__text-box {
    text-align: left;
}

.third-part__text-box,
.fifth-part__text-box {
    text-align: right;
}

.second-part__text>span {
    font-family: "Grenze Gotisch", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: rgb(0, 140, 255);
    letter-spacing: 5px;
}

.first-part__text>span {
    font-family: "KoPub Batang", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 0, 34);
    letter-spacing: 5px;
}

.fifth-part__text {
    word-spacing: 20px;
}

.fifth-part__text>span {
    text-shadow: 10px 10px 10px #56a883;
    color: #44df9a;
    font-family: "KoPub Batang", serif;
    font-weight: 300;
    font-size: 30px;
}

.final__text-box {
    word-spacing: 30px;
}


.eco-bazzar-first__subtitle,
.eco-bazzar-second__subtitle,
.eco-bazzar-third__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #1A1A1A;
    text-align: left;
}

.eco-bazzar-second__subtitle {
    font-family: "Segoe Script", sans-serif;
    font-weight: 400;
}

.eco-bazzar-third__subtitle {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
}

.eco-bazzar-first__text,
.eco-bazzar-second__text,
.eco-bazzar-third__text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #808080;
    text-align: left;
}


.eco-bazzar-second__text {
    font-family: "Segoe Script", sans-serif;
}

.eco-bazzar-third__text {
    font-family: "Zen Dots", sans-serif;
}
